<div class="banner-halloween">
  <h1>
    <span class="happy">rdrama presents</span>
    <span class="halloween">TRANS LIvES Matter</span>
  </h1>
  <div class="moon">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="cloud-container">
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
    <div class="cloud"></div>
  </div>
  <canvas id="starfield"></canvas>
</div>