@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

:root {
	--primary: #FB8B24;
	--dark: #170535;
	--secondary: #820263;
	--white: #E1E1E1;
	--black: #CFCFCF;
	--light: #170535;
	--muted: #E1E1E1;
	--gray: #383838;
	--gray-100: #E1E1E1;
	--gray-200: #E1E1E1;
	--gray-300: #291720;
	--gray-400: #303030;
	--gray-500: #170535;
	--gray-600: #170535;
	--gray-700: #170535;
	--gray-800: #170535;
	--gray-900: #170535;
}

* {
	border-color: var(--primary);
	cursor: url(https://i.ibb.co/r5cJxG0/Halloween-Pumpkin-Dance-Cursor.png) 36 36, auto;
}

a, button {
	cursor: url(https://i.ibb.co/LCGYZM3/image.png) 36 36, auto;
}

.border {
	border-color: var(--primary) !important;
}

.form-control {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn {
	background: transparent;
	border-color: var(--primary) !important;
	border-width: 2px;
}

.form-control:disabled, .form-control[readonly] {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}

#frontpage .pseudo-submit-form.card .card-body .form-control {
	border-color: transparent !important;
}

.btn-lg {
	border-color: transparent !important;
}

pre {
	color: #CFCFCF;
}

.transparent {
	background: None !important;
}

#frontpage .post-title a:visited {
	color: #7a7a7a !important;
}

/* Halloween Theming */

.post-title a {
	font-family: 'Emilys Candy';
	font-size: 1.25rem;
}

.arrow-up::before, .arrow-down::before {
	content: '\f6e2';
	width: 14px;
}

.arrow-down::before {
	display: inline-block;
	transform: rotate(180deg);
}

/* Cob Webs */

body::before {
	content: '';
	position: fixed;
	background-image: url('https://i.ibb.co/PjYVnsp/pngwing-com.png');
	background-size: contain;
	background-repeat: no-repeat;
	left: -1.5rem;
	bottom: -1.5rem;
	width: 170px;
	height: 230px;
	z-index: 10001;
	pointer-events: none;
	transform: rotate(180deg);
	opacity: .5;
}

body::after {
	content: '';
	position: fixed;
	background-image: url('https://i.ibb.co/QvD1XmR/Png-Item-6513764.png');
	background-size: contain;
	background-repeat: no-repeat;
	right: -1.5rem;
	top: -1.5rem;
	width: 200px;
	height: 200px;
	z-index: 10001;
	pointer-events: none;
	opacity: .45;
}

/* Blood Effect */

.blood::before {
	content: '';
	position: absolute;
	background-image: url(https://i.ibb.co/yFr0Cng/ezgif-2-1b7b2ac9c3e6.gif);
	width: 100%;
	height: 55px;
	background-repeat: repeat-x;
	top: 0;
	left: 0;
}

.sketch {
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0.5;
	pointer-events: none;
}

/* Haunted Effect */

img .haunted {
	animation: haunted 3s infinite;
}

@keyframes haunted {
	0% {
		filter: brightness(20%);
	}
	48% {
		filter: brightness(20%);
	}
	50% {
		filter: sepia(1) contrast(2) brightness(200%);
	}
	60% {
		filter: sepia(1) contrast(2) brightness(200%);
	}
	62% {
		filter: brightness(20%);
	}
	96% {
		filter: brightness(20%);
	}
	96% {
		filter: brightness(400%);
	}
}

/* Halloween Banner */

.banner-halloween {
	background-color:var(--dark);
	background-image:url('https://i.imgur.com/Jjo6cJZ.png');
	min-height:100%;
	height: 340px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	overflow:hidden;
	margin-bottom: 0.5rem;
}

#starfield{
	position:absolute;
	left:0;
	top:0;
}
/* 

  TITLE "HALLOWEEN"

  */

  .banner-halloween h1 {
  	font-size:6em;
  	font-family: 'Emilys Candy', sans-serif;
  	width:8em;
  	height:3em;
  	max-width:8em;
  	position:relative;
  	color:var(--primary);
  }

  .banner-halloween .happy{
  	font-family: lato, sans-serif;
  	font-size:18px;
  	font-weight:400;
  	letter-spacing:.1em;
  	color:#FB8B24;
  	text-transform:uppercase;
  }

  .banner-halloween .halloween{
  	position:relative;
  	display:block;

  }
  .banner-halloween .halloween span{
  	position:absolute;
  }

  /* TITLE CHARACTERS */
  .char1 {
  	font-size: 1.15em;
  	left: 0;
  	color: #FB8B24;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  }

  .char2 {
  	font-size: 0.75em;
  	top: 0.25em;
  	left: 1.1em;
  	color: #F66A3C;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 300ms;
  	animation-delay: 200ms;
  }

  .char3 {
  	font-size: 0.65em;
  	left: 2.25em;
  	top: 0.25em;
  	color: #FCA413;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 200ms;
  	animation-delay: 250ms;
  }

  .char4 {
  	font-size: 0.85em;
  	left: 2.25em;
  	top: 0.25em;
  	color: #FB8B24;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 300ms;
  	animation-delay: 300ms;
  }

  .char5 {
  	font-size: 0.55em;
  	left: 4.65em;
  	top: 0.5em;
  	color: #F66A3C;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 250ms;
  	animation-delay: 350ms;
  }

  .char6 {
  	font-size: 0.55em;
  	left: 6.75em;
  	top: 0.5em;
  	color: #F66A3C;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 300ms;
  	animation-delay: 400ms;
  }

  .char7 {
  	font-size: 0.9em;
  	left: 3.65em;
  	top: 0.05em;
  	color: #FB8B24;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 500ms;
  	animation-delay: 500ms;
  }

  .char8 {
  	font-size: 0.55em;
  	left: 7.2em;
  	color: #FCA413;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 600ms;
  	animation-delay: 600ms;
  }

  .char9 {
  	font-size: 0.9em;
  	left: 4.7em;
  	top: -0.01em;
  	color: #F66A3C;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 600ms;
  	animation-delay: 600ms;
  }

  .char10 {
  	font-size: 0.65em;
  	left: 7.15em;
  	top: -0.01em;
  	color: #FCA413;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 700ms;
  	animation-delay: 700ms;
  }

  .char11 {
  	font-size: 0.55em;
  	left: 9.4em;
  	top: 0.5em;
  	color: #FCA413;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 800ms;
  	animation-delay: 800ms;
  }

  .char12 {
  	font-size: 1.15em;
  	left: 7em;
  	top: -0.01em;
  	color: #FCA413;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 800ms;
  	animation-delay: 800ms;
  }

  .char13 {
  	font-size: 1.15em;
  	left: 5.1em;
  	top: -0.01em;
  	color: #FCA413;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 800ms;
  	animation-delay: 800ms;
  }

  .char14 {
  	font-size: 0.76em;
  	left: 9em;
  	top: -0.01em;
  	color: #FB8B24;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 1100ms;
  	animation-delay: 1100ms;
  }

  .char15 {
  	font-size: 0.76em;
  	left: 9.6em;
  	top: 0.25em;
  	color: #F66A3C;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 1000ms;
  	animation-delay: 1000ms;
  }

  .char16 {
  	font-size: 0.76em;
  	left: 10.35em;
  	top: -0.01em;
  	color: #FB8B24;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 1100ms;
  	animation-delay: 1100ms;
  }

  .char17 {
  	font-size: 0.65em;
  	left: 12.75em;
  	top: 0.5em;
  	color: #FCA413;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 1200ms;
  	animation-delay: 1200ms;
  }

  .char18 {
  	font-size: 0.55em;
  	left: 16em;
  	top: -0.01em;
  	color: #F66A3C;
  	-webkit-animation: bounce-in 1000ms linear both;
  	animation: bounce-in 1000ms linear both;
  	-webkit-animation-delay: 1200ms;
  	animation-delay: 1200ms;
  }


  @keyframes bounce-in{0%{transform:matrix3d(0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0);
  	opacity:0;}3.333333%{transform:matrix3d(0.32635,0,0,0,0,.68602,0,0,0,0,1,0,0,0,0,1)}6.666667%{transform:matrix3d(0.61701,0,0,0,0,.90691,0,0,0,0,1,0,0,0,0,1)}10%{transform:matrix3d(0.86271,0,0,0,0,1.07226,0,0,0,0,1,0,0,0,0,1);opacity:1;}13.333333%{transform:matrix3d(1.03605,0,0,0,0,1.14684,0,0,0,0,1,0,0,0,0,1)}16.666667%{transform:matrix3d(1.13384,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1)}20%{transform:matrix3d(1.16809,0,0,0,0,1.08847,0,0,0,0,1,0,0,0,0,1)}23.333333%{transform:matrix3d(1.15775,0,0,0,0,1.02623,0,0,0,0,1,0,0,0,0,1)}26.666667%{transform:matrix3d(1.12245,0,0,0,0,.97964,0,0,0,0,1,0,0,0,0,1)}30%{transform:matrix3d(1.07861,0,0,0,0,.95863,0,0,0,0,1,0,0,0,0,1)}33.333333%{transform:matrix3d(1.03771,0,0,0,0,.9603,0,0,0,0,1,0,0,0,0,1)}36.666667%{transform:matrix3d(1.00612,0,0,0,0,.97507,0,0,0,0,1,0,0,0,0,1)}40%{transform:matrix3d(0.98596,0,0,0,0,.99261,0,0,0,0,1,0,0,0,0,1)}43.333333%{transform:matrix3d(0.9764,0,0,0,0,1.00574,0,0,0,0,1,0,0,0,0,1)}46.666667%{transform:matrix3d(0.97499,0,0,0,0,1.01166,0,0,0,0,1,0,0,0,0,1)}50%{transform:matrix3d(0.97875,0,0,0,0,1.01119,0,0,0,0,1,0,0,0,0,1)}53.333333%{transform:matrix3d(0.98493,0,0,0,0,1.00702,0,0,0,0,1,0,0,0,0,1)}56.666667%{transform:matrix3d(0.99143,0,0,0,0,1.00208,0,0,0,0,1,0,0,0,0,1)}60%{transform:matrix3d(0.99693,0,0,0,0,.99838,0,0,0,0,1,0,0,0,0,1)}63.333333%{transform:matrix3d(1.00081,0,0,0,0,.99672,0,0,0,0,1,0,0,0,0,1)}66.666667%{transform:matrix3d(1.00299,0,0,0,0,.99685,0,0,0,0,1,0,0,0,0,1)}70%{transform:matrix3d(1.00376,0,0,0,0,.99802,0,0,0,0,1,0,0,0,0,1)}73.333333%{transform:matrix3d(1.00353,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1)}76.666667%{transform:matrix3d(1.00274,0,0,0,0,1.00046,0,0,0,0,1,0,0,0,0,1)}80%{transform:matrix3d(1.00176,0,0,0,0,1.00093,0,0,0,0,1,0,0,0,0,1)}83.333333%{transform:matrix3d(1.00084,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1)}86.666667%{transform:matrix3d(1.00014,0,0,0,0,1.00056,0,0,0,0,1,0,0,0,0,1)}90%{transform:matrix3d(0.99969,0,0,0,0,1.00017,0,0,0,0,1,0,0,0,0,1)}93.333333%{transform:matrix3d(0.99947,0,0,0,0,.99987,0,0,0,0,1,0,0,0,0,1)}96.666667%{transform:matrix3d(0.99944,0,0,0,0,.99974,0,0,0,0,1,0,0,0,0,1)}100%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)}}
/* 

  MOON

  */
  .moon{
  	height:7em;
  	width:7em;
  	background-color:#ddd;
  	border-radius:5em;
  	position:absolute;
  	top:1em;
  	right:1em;
  	animation:moonlight 5s alternate infinite;
  }

  .moon li{
  	position: absolute;
  	list-style: none;
  	background: #aaa;
  	border-radius: 50%;
  	box-shadow:inset 0.4em -0.05em 0.1em #777;
  }
  .moon li:nth-child(1) {
  	top:1.15em;
  	left:1.25em;
  	height:.75em;
  	width:.75em;
  }
  .moon li:nth-child(2) {
  	top:1.05em;
  	left:3.65em;
  	height:1.15em;
  	width:1.15em;
  }
  .moon li:nth-child(3) {
  	top:2.95em;
  	left:0.8em;
  	height:1.75em;
  	width:1.75em;
  }
  .moon li:nth-child(4) {
  	top:3em;
  	left:3.25em;
  	height:.5em;
  	width:.5em;
  }
  .moon li:nth-child(5) {
  	top:4em;
  	left:5.25em;
  	height:.65em;
  	width:.65em;
  }
  .moon li:nth-child(5) {
  	top:3.5em;
  	left:4.15em;
  	height:2.25em;
  	width:2.25em;
  }
  .moon li:nth-child(6) {
  	top:5.25em;
  	left:2.5em;
  	height:1.25em;
  	width:1.25em;
  }

  @keyframes moonlight{
  	0%{box-shadow: inset -5px -4px 0px 0px rgba(50, 50, 50, 0.75), 0px 0px 20px rgba(255,255,255,.5);} 
  	100%{box-shadow: inset -5px -4px 0px 0px rgba(50, 50, 50, 0.75), 0px 0px 40px rgba(255,255,255,.75);}
  }

/*

CLOUDS

*/
.cloud {
	background:#fafafa;
	height:4em;
	width:9em;
	border-radius:3em;
	position:absolute;
	animation-name:clouds;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
.cloud:before,.cloud:after{
	content:"";
	background:#fff;
	position:absolute;
	border-radius:50%;
}
.cloud:before{
	height:3em;
	width:3em;
	top:-1.3em;
	left:1.1em;
}
.cloud:after{
	height:5em;
	width:5em;
	top:-2em;
	right:0.85em;
}
.cloud:nth-child(1){
	top:2em;
	left:10em;
	animation-duration:90s;
}
.cloud:nth-child(2){
	top:9em;
	left:2.5em;
	opacity:.45;
	animation-duration:120s;
}
.cloud:nth-child(3){
	top:15em;
	left:11em;
	opacity:.65;
	animation-duration:70s;
}
.cloud:nth-child(4){
	top:7em;
	left:40em;
	opacity:.65;
	animation-duration:70s;
}
.cloud:nth-child(5){
	top:17em;
	left:30em;
	opacity:.25;
	animation-duration:70s;
}
@keyframes clouds{
	0%{margin-left:-10%;opacity:0;}
	15%{opacity:100%;}
	100% {margin-left: 110%;}
}

/*

Z-INDEX

*/

.banner-halloween h1{z-index:10;}
.banner-halloween .moon{z-index:1;}
.banner-halloween .cloud{z-index:2;}

/* Upside Down */

/* Upside Down Award Icon */
.fad.fa-lights-holiday:after {
	animation: blinker 1s linear infinite;
}
.fa-lights-holiday:before {
	color: #17AA31;
}
@keyframes blinker {
	10% {
		opacity: 0;
	}
    20% {
		opacity: 0.2;
        color: #FFD600;
	}
    30% {
		opacity: 0;
	}
    40% {
		opacity: 0.6;
        color: #FFD600;
	}
    45% {
		opacity: 0;
	}
	50% {
		opacity: 0.2;
        color: #FFD600;
        
	}
	70% {
		opacity: 0.4;
        color: #FF2000;
	}
	90% {
		opacity: 0;
	}
    92% {
		opacity: 0.8;
        color: #FF2000;
        
	}
    100% {
		opacity: 0.8;
        color: #FF2000;
	}
}