@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

:root {
	--primary: #FB8B24;
	--dark: #170535;
	--secondary: #820263;
	--white: #E1E1E1;
	--black: #CFCFCF;
	--light: #170535;
	--muted: #E1E1E1;
	--gray: #383838;
	--gray-100: #E1E1E1;
	--gray-200: #E1E1E1;
	--gray-300: #291720;
	--gray-400: #303030;
	--gray-500: #170535;
	--gray-600: #170535;
	--gray-700: #170535;
	--gray-800: #170535;
	--gray-900: #170535;
}

* {
	border-color: var(--primary);
	cursor: url(https://i.ibb.co/r5cJxG0/Halloween-Pumpkin-Dance-Cursor.png) 36 36, auto;
}

a, button {
	cursor: url(https://i.ibb.co/LCGYZM3/image.png) 36 36, auto;
}

.border {
	border-color: var(--primary) !important;
}

.form-control {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn {
	background: transparent;
	border-color: var(--primary) !important;
	border-width: 2px;
}

.form-control:disabled, .form-control[readonly] {
	background: transparent;
	border-color: var(--primary) !important;
}

.btn-success {
	border-color: #38A169 !important;
}

.btn-danger {
	border-color: #E53E3E !important;
}

#frontpage .pseudo-submit-form.card .card-body .form-control {
	border-color: transparent !important;
}

.btn-lg {
	border-color: transparent !important;
}

pre {
	color: #CFCFCF;
}

.transparent {
	background: None !important;
}

#frontpage .post-title a:visited {
	color: #7a7a7a !important;
}

/* Halloween Theming */

.post-title a {
	font-family: 'Emilys Candy';
	font-size: 1.25rem;
}

.arrow-up::before, .arrow-down::before {
	content: '\f6e2';
	width: 14px;
}

.arrow-down::before {
	display: inline-block;
	transform: rotate(180deg);
}

/* Cob Webs */

body::before {
	content: '';
	position: fixed;
	background-image: url('https://i.ibb.co/PjYVnsp/pngwing-com.png');
	background-size: contain;
	background-repeat: no-repeat;
	left: -1.5rem;
	bottom: -1.5rem;
	width: 170px;
	height: 230px;
	z-index: 10001;
	pointer-events: none;
	transform: rotate(180deg);
	opacity: .5;
}

body::after {
	content: '';
	position: fixed;
	background-image: url('https://i.ibb.co/QvD1XmR/Png-Item-6513764.png');
	background-size: contain;
	background-repeat: no-repeat;
	right: -1.5rem;
	top: -1.5rem;
	width: 160px;
	height: 160px;
	z-index: 10001;
	pointer-events: none;
	opacity: .45;
}

/* Blood Effect */

.blood::before {
	content: '';
	position: absolute;
	background-image: url(https://i.ibb.co/yFr0Cng/ezgif-2-1b7b2ac9c3e6.gif);
	width: 100%;
	height: 55px;
	background-repeat: repeat-x;
	top: 0;
	left: 0;
}

.sketch {
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
}

/* Haunted Effect */

@keyframes haunted {
	0% {
		filter: brightness(20%);
	}
	48% {
		filter: brightness(20%);
	}
	50% {
		filter: sepia(1) contrast(2) brightness(200%);
	}
	60% {
		filter: sepia(1) contrast(2) brightness(200%);
	}
	62% {
		filter: brightness(20%);
	}
	96% {
		filter: brightness(20%);
	}
	96% {
		filter: brightness(400%);
	}
}

/* Halloween Banner */

.banner-halloween {
	position: relative;
	background-color:var(--dark);
	min-height:100%;
	height: 340px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	overflow:hidden;
	margin-top: -3px;
	margin-bottom: 0.5rem;
}

@media (max-width: 767.98px) {
	.banner-halloween {
		height: 200px;
	}
}

#starfield{
	position:absolute;
	left:0;
	top:0;
}
/* 

  TITLE "HALLOWEEN"

  */

  .banner-halloween h1 {
  	font-size:6em;
  	font-family: 'Emilys Candy', sans-serif;
  	width:8em;
  	height:3em;
  	max-width:8em;
  	position:relative;
  	color:var(--primary);
  }

  @media (max-width: 767.98px) {
  	.banner-halloween h1 {
  		font-size: 4em;
  		width: 7em;
  	}
  }

  .banner-halloween .happy{
  	font-family: lato, sans-serif;
  	font-size:18px;
  	font-weight:400;
  	letter-spacing:.1em;
  	color:#FB8B24;
  	text-transform:uppercase;
  }

  .banner-halloween .halloween{
  	position:relative;
  	display:block;

  }
  .banner-halloween .halloween span{
  	position:absolute;
  }

  /* TITLE CHARACTERS */
.char1{ /*H*/
  font-size:1.15em;
  left:0;
  color:#FB8B24;
  animation:bounce-in 1000ms linear both;
}
.char2{ /*O*/
  font-size:0.75em;
  top:.25em;
  left:1.25em;
  color:#F66A3C;
  animation:bounce-in 1000ms linear both;
  animation-delay:300ms;
}
.char3{ /*M*/
  font-size:.65em;
  left:2.5em;
  top:0.25em;
  color:#FCA413;
  animation:bounce-in 1000ms linear both;
  animation-delay:500ms;
}
.char4{ /*O*/
  font-size:.85em;
  left:2.7em;
  top:.25em;
  color:#FB8B24;
  animation:bounce-in 1000ms linear both;
  animation-delay:200ms;
}
.char5{ /*W*/
  font-size:.9em;
  left:3.25em;
  top:-0.01em;
  color:#F66A3C;
  animation:bounce-in 1000ms linear both;
  animation-delay:250ms;
}
.char6{ /*E*/
  font-size:0.76em;
  left:4.65em;
  top:0.05em;
  color:#FCA413;
  animation:bounce-in 1000ms linear both;
  animation-delay:800ms;
}
.char7{ /*E*/
  font-size: 0.9em;
  left: 4.6em;
  top: 0.05em;
  color:#FB8B24;
  animation:bounce-in 1000ms linear both;
  animation-delay:700ms;
}
.char8{ /*N*/
  font-size:0.75em;
  left:6.5em;
  top:0.25em;
  color:#F66A3C;
  animation:bounce-in 1000ms linear both;
  animation-delay:1100ms;
}


  @keyframes bounce-in{0%{transform:matrix3d(0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0);
  	opacity:0;}3.333333%{transform:matrix3d(0.32635,0,0,0,0,.68602,0,0,0,0,1,0,0,0,0,1)}6.666667%{transform:matrix3d(0.61701,0,0,0,0,.90691,0,0,0,0,1,0,0,0,0,1)}10%{transform:matrix3d(0.86271,0,0,0,0,1.07226,0,0,0,0,1,0,0,0,0,1);opacity:1;}13.333333%{transform:matrix3d(1.03605,0,0,0,0,1.14684,0,0,0,0,1,0,0,0,0,1)}16.666667%{transform:matrix3d(1.13384,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1)}20%{transform:matrix3d(1.16809,0,0,0,0,1.08847,0,0,0,0,1,0,0,0,0,1)}23.333333%{transform:matrix3d(1.15775,0,0,0,0,1.02623,0,0,0,0,1,0,0,0,0,1)}26.666667%{transform:matrix3d(1.12245,0,0,0,0,.97964,0,0,0,0,1,0,0,0,0,1)}30%{transform:matrix3d(1.07861,0,0,0,0,.95863,0,0,0,0,1,0,0,0,0,1)}33.333333%{transform:matrix3d(1.03771,0,0,0,0,.9603,0,0,0,0,1,0,0,0,0,1)}36.666667%{transform:matrix3d(1.00612,0,0,0,0,.97507,0,0,0,0,1,0,0,0,0,1)}40%{transform:matrix3d(0.98596,0,0,0,0,.99261,0,0,0,0,1,0,0,0,0,1)}43.333333%{transform:matrix3d(0.9764,0,0,0,0,1.00574,0,0,0,0,1,0,0,0,0,1)}46.666667%{transform:matrix3d(0.97499,0,0,0,0,1.01166,0,0,0,0,1,0,0,0,0,1)}50%{transform:matrix3d(0.97875,0,0,0,0,1.01119,0,0,0,0,1,0,0,0,0,1)}53.333333%{transform:matrix3d(0.98493,0,0,0,0,1.00702,0,0,0,0,1,0,0,0,0,1)}56.666667%{transform:matrix3d(0.99143,0,0,0,0,1.00208,0,0,0,0,1,0,0,0,0,1)}60%{transform:matrix3d(0.99693,0,0,0,0,.99838,0,0,0,0,1,0,0,0,0,1)}63.333333%{transform:matrix3d(1.00081,0,0,0,0,.99672,0,0,0,0,1,0,0,0,0,1)}66.666667%{transform:matrix3d(1.00299,0,0,0,0,.99685,0,0,0,0,1,0,0,0,0,1)}70%{transform:matrix3d(1.00376,0,0,0,0,.99802,0,0,0,0,1,0,0,0,0,1)}73.333333%{transform:matrix3d(1.00353,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1)}76.666667%{transform:matrix3d(1.00274,0,0,0,0,1.00046,0,0,0,0,1,0,0,0,0,1)}80%{transform:matrix3d(1.00176,0,0,0,0,1.00093,0,0,0,0,1,0,0,0,0,1)}83.333333%{transform:matrix3d(1.00084,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1)}86.666667%{transform:matrix3d(1.00014,0,0,0,0,1.00056,0,0,0,0,1,0,0,0,0,1)}90%{transform:matrix3d(0.99969,0,0,0,0,1.00017,0,0,0,0,1,0,0,0,0,1)}93.333333%{transform:matrix3d(0.99947,0,0,0,0,.99987,0,0,0,0,1,0,0,0,0,1)}96.666667%{transform:matrix3d(0.99944,0,0,0,0,.99974,0,0,0,0,1,0,0,0,0,1)}100%{transform:matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1)}}
/* 

  MOON

  */
  .moon{
  	height:7em;
  	width:7em;
  	background-color:#ddd;
  	border-radius:5em;
  	position:absolute;
  	top:1em;
  	right:1em;
  	animation:moonlight 5s alternate infinite;
  }

  .moon li{
  	position: absolute;
  	list-style: none;
  	background: #aaa;
  	border-radius: 50%;
  	box-shadow:inset 0.4em -0.05em 0.1em #777;
  }
  .moon li:nth-child(1) {
  	top:1.15em;
  	left:1.25em;
  	height:.75em;
  	width:.75em;
  }
  .moon li:nth-child(2) {
  	top:1.05em;
  	left:3.65em;
  	height:1.15em;
  	width:1.15em;
  }
  .moon li:nth-child(3) {
  	top:2.95em;
  	left:0.8em;
  	height:1.75em;
  	width:1.75em;
  }
  .moon li:nth-child(4) {
  	top:3em;
  	left:3.25em;
  	height:.5em;
  	width:.5em;
  }
  .moon li:nth-child(5) {
  	top:4em;
  	left:5.25em;
  	height:.65em;
  	width:.65em;
  }
  .moon li:nth-child(5) {
  	top:3.5em;
  	left:4.15em;
  	height:2.25em;
  	width:2.25em;
  }
  .moon li:nth-child(6) {
  	top:5.25em;
  	left:2.5em;
  	height:1.25em;
  	width:1.25em;
  }

  @keyframes moonlight{
  	0%{box-shadow: inset -5px -4px 0px 0px rgba(50, 50, 50, 0.75), 0px 0px 20px rgba(255,255,255,.5);} 
  	100%{box-shadow: inset -5px -4px 0px 0px rgba(50, 50, 50, 0.75), 0px 0px 40px rgba(255,255,255,.75);}
  }

/*

CLOUDS

*/
.cloud {
	background:#fafafa;
	height:4em;
	width:9em;
	border-radius:3em;
	position:absolute;
	animation-name:clouds;
	animation-iteration-count:infinite;
	animation-timing-function:linear;
}
.cloud:before,.cloud:after{
	content:"";
	background:#fff;
	position:absolute;
	border-radius:50%;
}
.cloud:before{
	height:3em;
	width:3em;
	top:-1.3em;
	left:1.1em;
}
.cloud:after{
	height:5em;
	width:5em;
	top:-2em;
	right:0.85em;
}
.cloud:nth-child(1){
	top:2em;
	left:10em;
	animation-duration:90s;
}
.cloud:nth-child(2){
	top:9em;
	left:2.5em;
	opacity:.45;
	animation-duration:120s;
}
.cloud:nth-child(3){
	top:15em;
	left:11em;
	opacity:.65;
	animation-duration:70s;
}
.cloud:nth-child(4){
	top:7em;
	left:40em;
	opacity:.65;
	animation-duration:70s;
}
.cloud:nth-child(5){
	top:17em;
	left:30em;
	opacity:.25;
	animation-duration:70s;
}
@keyframes clouds{
	0%{margin-left:-10%;opacity:0;}
	15%{opacity:100%;}
	100% {margin-left: 110%;}
}

/*

Z-INDEX

*/

.banner-halloween h1{z-index:10;}
.banner-halloween .moon{z-index:1;}
.banner-halloween .cloud{z-index:2;}

/* Upside Down */

/* Upside Down Award Icon */
.fad.fa-lights-holiday:after {
	animation: blinker 1s linear infinite;
}
.fa-lights-holiday:before {
	color: #17AA31;
}
@keyframes blinker {
	10% {
		opacity: 0;
	}
    20% {
		opacity: 0.2;
        color: #FFD600;
	}
    30% {
		opacity: 0;
	}
    40% {
		opacity: 0.6;
        color: #FFD600;
	}
    45% {
		opacity: 0;
	}
	50% {
		opacity: 0.2;
        color: #FFD600;
        
	}
	70% {
		opacity: 0.4;
        color: #FF2000;
	}
	90% {
		opacity: 0;
	}
    92% {
		opacity: 0.8;
        color: #FF2000;
        
	}
    100% {
		opacity: 0.8;
        color: #FF2000;
	}
}

/* Ghosts */

.container-ghosts
{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

svg .ghost
{
	z-index: 10;
}

/* Spiders */

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll: none;
}

body {
  background-color: #2f5363;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF2F5363', endColorstr='#FF1B2628');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iODAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMmY1MzYzIi8+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiMxYjI2MjgiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -moz-radial-gradient(center, ellipse cover, #2f5363 0%, #1b2628 80%);
  background-image: -webkit-radial-gradient(center, ellipse cover, #2f5363 0%, #1b2628 80%);
  background-image: radial-gradient(ellipse cover at center, #2f5363 0%, #1b2628 80%);
  overflow: hidden;
}

[class*="spider"] {
  position: absolute;
  height: 40px;
  width: 50px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin: 40px 0 0 0;
  background: #110d04;
}
[class*="spider"] *, [class*="spider"]:before, [class*="spider"]:after,
[class*="spider"] :after,
[class*="spider"] :before {
  position: absolute;
  content: "";
}
[class*="spider"]:before {
  width: 1px;
  background: #aaaaaa;
  left: 50%;
  top: -320px;
  height: 320px;
}
[class*="spider"] .eye {
  top: 16px;
  height: 14px;
  width: 12px;
  background: #ffffff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
[class*="spider"] .eye:after {
  top: 6px;
  height: 5px;
  width: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: black;
}
[class*="spider"] .eye.left {
  left: 14px;
}
[class*="spider"] .eye.left:after {
  right: 3px;
}
[class*="spider"] .eye.right {
  right: 14px;
}
[class*="spider"] .eye.right:after {
  left: 3px;
}
[class*="spider"] .leg {
  top: 6px;
  height: 12px;
  width: 14px;
  border-top: 2px solid #110d04;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  z-index: -1;
}
[class*="spider"] .leg.left {
  left: -8px;
  -moz-transform-origin: top right;
  -ms-transform-origin: top right;
  -webkit-transform-origin: top right;
  transform-origin: top right;
  -moz-transform: rotate(36deg) skewX(-20deg);
  -ms-transform: rotate(36deg) skewX(-20deg);
  -webkit-transform: rotate(36deg) skewX(-20deg);
  transform: rotate(36deg) skewX(-20deg);
  border-left: 2px solid #110d04;
  -moz-border-radius: 60% 0 0 0;
  -webkit-border-radius: 60%;
  border-radius: 60% 0 0 0;
  -moz-animation: legs-wriggle-left 1s 0s infinite;
  -webkit-animation: legs-wriggle-left 1s 0s infinite;
  animation: legs-wriggle-left 1s 0s infinite;
}
[class*="spider"] .leg.right {
  right: -8px;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -moz-transform: rotate(-36deg) skewX(20deg);
  -ms-transform: rotate(-36deg) skewX(20deg);
  -webkit-transform: rotate(-36deg) skewX(20deg);
  transform: rotate(-36deg) skewX(20deg);
  border-right: 2px solid #110d04;
  -moz-border-radius: 0 60% 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 60% 0 0;
  -moz-animation: legs-wriggle-right 1s 0.2s infinite;
  -webkit-animation: legs-wriggle-right 1s 0.2s infinite;
  animation: legs-wriggle-right 1s 0.2s infinite;
}
[class*="spider"] .leg:nth-of-type(2) {
  top: 14px;
  left: -11px;
  -moz-animation: legs-wriggle-left 1s 0.8s infinite;
  -webkit-animation: legs-wriggle-left 1s 0.8s infinite;
  animation: legs-wriggle-left 1s 0.8s infinite;
}
[class*="spider"] .leg:nth-of-type(3) {
  top: 22px;
  left: -12px;
  -moz-animation: legs-wriggle-left 1s 0.2s infinite;
  -webkit-animation: legs-wriggle-left 1s 0.2s infinite;
  animation: legs-wriggle-left 1s 0.2s infinite;
}
[class*="spider"] .leg:nth-of-type(4) {
  top: 31px;
  left: -10px;
  -moz-animation: legs-wriggle-left 1s 0.4s infinite;
  -webkit-animation: legs-wriggle-left 1s 0.4s infinite;
  animation: legs-wriggle-left 1s 0.4s infinite;
}
[class*="spider"] .leg:nth-of-type(6) {
  top: 14px;
  right: -11px;
  -moz-animation: legs-wriggle-right 1s 0.4s infinite;
  -webkit-animation: legs-wriggle-right 1s 0.4s infinite;
  animation: legs-wriggle-right 1s 0.4s infinite;
}
[class*="spider"] .leg:nth-of-type(7) {
  top: 22px;
  right: -12px;
  -moz-animation: legs-wriggle-right 1s 0.7s infinite;
  -webkit-animation: legs-wriggle-right 1s 0.7s infinite;
  animation: legs-wriggle-right 1s 0.7s infinite;
}
[class*="spider"] .leg:nth-of-type(8) {
  top: 31px;
  right: -10px;
  -moz-animation: legs-wriggle-right 1s 0.3s infinite;
  -webkit-animation: legs-wriggle-right 1s 0.3s infinite;
  animation: legs-wriggle-right 1s 0.3s infinite;
}

.spider_0 {
  left: 5%;
  -moz-animation: spider-move-0 5s infinite;
  -webkit-animation: spider-move-0 5s infinite;
  animation: spider-move-0 5s infinite;
}

.spider_1 {
  left: 20%;
  -moz-animation: spider-move-1 5s infinite;
  -webkit-animation: spider-move-1 5s infinite;
  animation: spider-move-1 5s infinite;
}

.spider_2 {
  left: 35%;
  -moz-animation: spider-move-2 5s infinite;
  -webkit-animation: spider-move-2 5s infinite;
  animation: spider-move-2 5s infinite;
}

.spider_3 {
  right: 35%;
  margin-top: 160px;
  -moz-animation: spider-move-3 5s infinite;
  -webkit-animation: spider-move-3 5s infinite;
  animation: spider-move-3 5s infinite;
}

.spider_4 {
  right: 20%;
  margin-top: 50px;
  -moz-animation: spider-move-4 5s infinite;
  -webkit-animation: spider-move-4 5s infinite;
  animation: spider-move-4 5s infinite;
}

.spider_5 {
  right: 5%;
  margin-top: 210px;
  -moz-animation: spider-move-5 5s infinite;
  -webkit-animation: spider-move-5 5s infinite;
  animation: spider-move-5 5s infinite;
}

h1 {
  position: absolute;
  left: 6%;
  bottom: 12%;
  font-family: "Eater", cursive;
  font-size: 8.5vw;
  color: #111111;
  -moz-animation: flicker 4s 0s infinite;
  -webkit-animation: flicker 4s 0s infinite;
  animation: flicker 4s 0s infinite;
}

.web-right {
  position: absolute;
  height: 200px;
  width: auto;
  right: -10px;
  top: -10px;
  z-index: -1;
  opacity: 0.2;
}

.web-left {
  position: absolute;
  left: -10px;
  top: -10px;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  z-index: -1;
  opacity: 0.2;
}

@-moz-keyframes flicker {
  0%,
	6%,
	12% {
    text-shadow: none;
    color: #111111;
  }
  3%,
	9% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6);
    color: #fa6701;
  }
  60% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
    color: #fa6701;
  }
  100% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
    color: #fa6701;
  }
}
@-webkit-keyframes flicker {
  0%,
	6%,
	12% {
    text-shadow: none;
    color: #111111;
  }
  3%,
	9% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6);
    color: #fa6701;
  }
  60% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
    color: #fa6701;
  }
  100% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
    color: #fa6701;
  }
}
@keyframes flicker {
  0%,
	6%,
	12% {
    text-shadow: none;
    color: #111111;
  }
  3%,
	9% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6);
    color: #fa6701;
  }
  60% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
    color: #fa6701;
  }
  100% {
    text-shadow: 0 0 8px rgba(250, 103, 1, 0.6), 0 0 16px rgba(250, 103, 1, 0.4), 0 0 20px rgba(255, 0, 84, 0.2), 0 0 22px rgba(255, 0, 84, 0.1);
    color: #fa6701;
  }
}
@-moz-keyframes legs-wriggle-left {
  0%,
	100% {
    -moz-transform: rotate(36deg) skewX(-20deg);
    transform: rotate(36deg) skewX(-20deg);
  }
  25%,
	75% {
    -moz-transform: rotate(15deg) skewX(-20deg);
    transform: rotate(15deg) skewX(-20deg);
  }
  50% {
    -moz-transform: rotate(45deg) skewX(-20deg);
    transform: rotate(45deg) skewX(-20deg);
  }
}
@-webkit-keyframes legs-wriggle-left {
  0%,
	100% {
    -webkit-transform: rotate(36deg) skewX(-20deg);
    transform: rotate(36deg) skewX(-20deg);
  }
  25%,
	75% {
    -webkit-transform: rotate(15deg) skewX(-20deg);
    transform: rotate(15deg) skewX(-20deg);
  }
  50% {
    -webkit-transform: rotate(45deg) skewX(-20deg);
    transform: rotate(45deg) skewX(-20deg);
  }
}
@keyframes legs-wriggle-left {
  0%,
	100% {
    -moz-transform: rotate(36deg) skewX(-20deg);
    -ms-transform: rotate(36deg) skewX(-20deg);
    -webkit-transform: rotate(36deg) skewX(-20deg);
    transform: rotate(36deg) skewX(-20deg);
  }
  25%,
	75% {
    -moz-transform: rotate(15deg) skewX(-20deg);
    -ms-transform: rotate(15deg) skewX(-20deg);
    -webkit-transform: rotate(15deg) skewX(-20deg);
    transform: rotate(15deg) skewX(-20deg);
  }
  50% {
    -moz-transform: rotate(45deg) skewX(-20deg);
    -ms-transform: rotate(45deg) skewX(-20deg);
    -webkit-transform: rotate(45deg) skewX(-20deg);
    transform: rotate(45deg) skewX(-20deg);
  }
}
@-moz-keyframes legs-wriggle-right {
  0%,
	100% {
    -moz-transform: rotate(-36deg) skewX(20deg);
    transform: rotate(-36deg) skewX(20deg);
  }
  25%,
	75% {
    -moz-transform: rotate(-15deg) skewX(20deg);
    transform: rotate(-15deg) skewX(20deg);
  }
  50% {
    -moz-transform: rotate(-45deg) skewX(20deg);
    transform: rotate(-45deg) skewX(20deg);
  }
}
@-webkit-keyframes legs-wriggle-right {
  0%,
	100% {
    -webkit-transform: rotate(-36deg) skewX(20deg);
    transform: rotate(-36deg) skewX(20deg);
  }
  25%,
	75% {
    -webkit-transform: rotate(-15deg) skewX(20deg);
    transform: rotate(-15deg) skewX(20deg);
  }
  50% {
    -webkit-transform: rotate(-45deg) skewX(20deg);
    transform: rotate(-45deg) skewX(20deg);
  }
}
@keyframes legs-wriggle-right {
  0%,
	100% {
    -moz-transform: rotate(-36deg) skewX(20deg);
    -ms-transform: rotate(-36deg) skewX(20deg);
    -webkit-transform: rotate(-36deg) skewX(20deg);
    transform: rotate(-36deg) skewX(20deg);
  }
  25%,
	75% {
    -moz-transform: rotate(-15deg) skewX(20deg);
    -ms-transform: rotate(-15deg) skewX(20deg);
    -webkit-transform: rotate(-15deg) skewX(20deg);
    transform: rotate(-15deg) skewX(20deg);
  }
  50% {
    -moz-transform: rotate(-45deg) skewX(20deg);
    -ms-transform: rotate(-45deg) skewX(20deg);
    -webkit-transform: rotate(-45deg) skewX(20deg);
    transform: rotate(-45deg) skewX(20deg);
  }
}
@-moz-keyframes spider-move-0 {
  0%,
		100% {
    margin-top: 69px;
  }
  54% {
    margin-top: calc(69px + 28px);
  }
}
@-webkit-keyframes spider-move-0 {
  0%,
		100% {
    margin-top: 69px;
  }
  54% {
    margin-top: calc(69px + 28px);
  }
}
@keyframes spider-move-0 {
  0%,
		100% {
    margin-top: 69px;
  }
  54% {
    margin-top: calc(69px + 28px);
  }
}
@-moz-keyframes spider-move-1 {
  0%,
		100% {
    margin-top: 99px;
  }
  36% {
    margin-top: calc(99px + 77px);
  }
}
@-webkit-keyframes spider-move-1 {
  0%,
		100% {
    margin-top: 99px;
  }
  36% {
    margin-top: calc(99px + 77px);
  }
}
@keyframes spider-move-1 {
  0%,
		100% {
    margin-top: 99px;
  }
  36% {
    margin-top: calc(99px + 77px);
  }
}
@-moz-keyframes spider-move-2 {
  0%,
		100% {
    margin-top: 138px;
  }
  55% {
    margin-top: calc(138px + 34px);
  }
}
@-webkit-keyframes spider-move-2 {
  0%,
		100% {
    margin-top: 138px;
  }
  55% {
    margin-top: calc(138px + 34px);
  }
}
@keyframes spider-move-2 {
  0%,
		100% {
    margin-top: 138px;
  }
  55% {
    margin-top: calc(138px + 34px);
  }
}
@-moz-keyframes spider-move-3 {
  0%,
		100% {
    margin-top: 130px;
  }
  41% {
    margin-top: calc(130px + 29px);
  }
}
@-webkit-keyframes spider-move-3 {
  0%,
		100% {
    margin-top: 130px;
  }
  41% {
    margin-top: calc(130px + 29px);
  }
}
@keyframes spider-move-3 {
  0%,
		100% {
    margin-top: 130px;
  }
  41% {
    margin-top: calc(130px + 29px);
  }
}
@-moz-keyframes spider-move-4 {
  0%,
		100% {
    margin-top: 106px;
  }
  41% {
    margin-top: calc(106px + 73px);
  }
}
@-webkit-keyframes spider-move-4 {
  0%,
		100% {
    margin-top: 106px;
  }
  41% {
    margin-top: calc(106px + 73px);
  }
}
@keyframes spider-move-4 {
  0%,
		100% {
    margin-top: 106px;
  }
  41% {
    margin-top: calc(106px + 73px);
  }
}
@-moz-keyframes spider-move-5 {
  0%,
		100% {
    margin-top: 79px;
  }
  64% {
    margin-top: calc(79px + 84px);
  }
}
@-webkit-keyframes spider-move-5 {
  0%,
		100% {
    margin-top: 79px;
  }
  64% {
    margin-top: calc(79px + 84px);
  }
}
@keyframes spider-move-5 {
  0%,
		100% {
    margin-top: 79px;
  }
  64% {
    margin-top: calc(79px + 84px);
  }
}